<div class="action-wrapper">
    {% set backPath = back|default(null) %}
    {% set backArgs = args|default([]) %}
    <ul>
        {% if backPath %}
        <li><a href="{{ path(backPath, backArgs) }}">{{ 'Back'|trans }}</a></li>
        {% endif %}
        <li><a class="logout" href="{{ path('eghojansu_setup_done') }}">{{ 'Done'|trans }}</a></li>
    </ul>
</div>
