{% extends '@EghojansuSetup/base.html.twig' %}

{% block body %}
    {% include '@EghojansuSetup/_done.html.twig' with {back: 'eghojansu_setup_versions'} %}

    <p>Anda akan melakukan setup untuk versi: {{ version }}</p>

    {% form_theme form 'form_table_layout.html.twig' %}

    {{ form_start(form, {'attr': {'class': 'form-table form-full'}}) }}
    {% if hasConfig %}
        <p>Silahkan mengisi konfigurasi berikut:</p>

        {{ form_widget(form) }}
    {% endif %}
    <button class="submit-form" type="submit">Konfirmasi</button>
    {{ form_end(form) }}

    <div class="note">
        <strong>Catatan :</strong>
        <ul>
            <li>Pastikan nilai sudah diisi dengan benar! (setelah tombol konfirmasi ditekan, proses instalasi segera dijalankan)</li>
            <li>Jika tidak ada field yang bisa diisi, silahkan langsung menekan tombol konfirmasi</li>
            <li>Untuk mengisi nilai kosong, isikan teks "<strong>null</strong>" atau karakter "<strong>~</strong>"</li>
            <li>Untuk mengisi nilai benar, isikan teks "<strong>yes</strong>", "<strong>true</strong>" atau "<strong>on</strong>"</li>
            <li>Untuk mengisi nilai salah, isikan teks "<strong>no</strong>", "<strong>false</strong>" atau "<strong>off</strong>"</li>
        </ul>
    </div>
{% endblock %}
